services:
  web:
    build: .
    container_name: movie_app
    ports:
      - "5000:5000"
    env_file:
      - .env.local
    depends_on:
      - mongo
    extra_hosts:
      - "host.docker.internal:host-gateway"

  neo4j:
    image: neo4j:5
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/neo4j_password
      NEO4J_dbms_connector_bolt_advertised__address: localhost:7687
      NEO4J_PLUGINS: '["graph-data-science"]'
      NEO4J_dbms_security_procedures_unrestricted: gds.*
      NEO4J_dbms_security_procedures_allowlist: gds.*
    volumes:
      - neo4j_data:/data

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db   # data persistance
      - ./mongo-init:/docker-entrypoint-initdb.d:ro  # init DB with dump
      - ./dump:/dump:ro

volumes:
  mongo_data:
  neo4j_data:
