services:
  web:
    build: .
    container_name: movie_app
    ports:
      - "5000:5000"
    env_file:
      - .env.local
    depends_on:
      - mongo
    extra_hosts:
      - "host.docker.internal:host-gateway"

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db   # data persistance
      - ./mongo-init:/docker-entrypoint-initdb.d:ro  # init DB with dump
      - ./dump:/dump:ro

volumes:
  mongo_data:
