<!DOCTYPE html>
<html lang="fr">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cinephile's Delight</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  </head>

  <body>
        {% include 'components/nav_bar.html' %}

        <div class="films-container">
            {% for movie in best_movies %}
                {% set film = movie %}
                {% include 'components/movie_item.html' %}
            {% endfor %}
        </div>
        {% include "components/pagination.html" %}



  <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
  </body>
</html>
