{%extends "base.html" %}

{% block title %}Suggestions{% endblock %}

{% set best_score = (suggest_movies[0].score | float) if suggest_movies|length > 0 else 0 %}

{% block content %}

<h1>Recommendations</h1>

<div class="films-container">
    {% for movie in suggest_movies %}
    <div class="movie-item">
        {% set film = movie %}
        {% include 'components/movie_item.html' %}

        {% set score = movie.score | float %}
        {% set percent = (score / best_score * 100) if best_score > 0 else 0 %}

        <div class="movie-score" title="{{ score|round(2) }}">
            Score : {{ percent|round(1) }} %
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}