{% set actual_rating = session.get("ratings", {}).get(film.imdb_id) %}

<div class="film-item">
    <a href="/movie/{{ film.imdb_id }}">

        <div class="film-image">
            <img src="{{ film.full_poster_url or '/static/img/no_poster.png' }}" 
                alt="{{ film.title }}">
        </div>
    </a>
    <div class="film-overlay" onclick="event.stopPropagation()">
        <h3>{{ film.title }}</h3>
        {% if not hide_vote_average|default(false) %}
            <p>Note : {{ film.vote_average }}/10</p>
        {% endif %}

        <form class="overlay-form rating-form">
            <input type="hidden" name="movie_id" value="{{ film.imdb_id }}">

            <label>Votre note :</label>
            <select name="rating" required>
                <option value="" disabled {% if actual_rating is none %}selected{% endif %}>Choisir</option>
                {% for i in range(1, 11) %}
                    <option value="{{ i }}" {% if actual_rating == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>

            <button type="submit">Noter</button>
        </form>
    </div>

</div>
